{% trans_default_domain 'SiwappCategoryBundle' %}

{{ form_start(list_form) }}
<ul id="toolbar" class="table-actions list-inline list-unstyled">
  <li>
    <button type="submit" name="delete" class="btn btn-default btn-danger" title="{% trans %}list.bulk_delete{% endtrans %}" data-confirm="{% trans %}list.bulk_delete_confirm{% endtrans %}"><span class="glyphicon glyphicon-trash"></span></button>
  </li>
</ul>
<table class="table table-condensed table-striped align-middle" data-type="categorys">
  <thead>
    <tr>
      <th class="cell-size-tiny cell-align-center">
        <input type="checkbox" name="all" />
      </th>
      <th class="cell-size-medium">
        {{ knp_pagination_sortable(categorys, 'list.categoryName'|trans, 'c.categoryName') }}
      </th>
      <th>
        {{ knp_pagination_sortable(categorys, 'list.description'|trans, 'c.description') }}
      </th>
       {# <th class="cell-size-medium cell-align-right">
        {{ knp_pagination_sortable(categorys, 'list.created_at'|trans, 'c.created_at') }}
      </th>
      <th class="cell-size-medium cell-align-right">
        {{ knp_pagination_sortable(categorys, 'list.updated_at'|trans, 'c.updated_at') }}
      </th> #}
    </tr>
  </thead>
  <tbody>
    {% if categorys|length == 0 %}
      <tr>
        <td colspan="6">{% trans %}list.no_results{% endtrans %}</td>
      </tr>
    {% endif %}
    {% for key, entity in categorys %}
      <tr data-link="{{ path('category_edit', { 'id': entity.id }) }}">
        <td class="table-action cell-align-center no-link">
          {{ form_row(list_form.categorys[key]) }}
        </td>
        <td class="cell-size-medium">{{ entity.categoryName }}</td>
        <td>{{ entity.description }}</td>
        {# <td class="cell-align-right">{{ entity.updated_at|localizedcurrency(currency, app.request.locale) }}</td>
        <td class="cell-align-right">{{ entity.updated_at }}</td> #}
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ form_end(list_form) }}
<div class="navigation">
    {{ knp_pagination_render(categorys) }}
</div>
